<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBiXewkb86Bs58i7jzpXBNM7rFAeRHyb-c</string>
	<key>GCM_SENDER_ID</key>
	<string>616402181885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bookRoom</string>
	<key>PROJECT_ID</key>
	<string>book-room-8a3ff</string>
	<key>STORAGE_BUCKET</key>
	<string>book-room-8a3ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616402181885:ios:f4ae30f665923859b7e894</string>
</dict>
</plist>